[Unit]
Description=Personal IMAP Spam Filter
After=network.target spamassassin.service

[Service]
Type=simple
User=root
ExecStart=/scratch/pisf/bin/python /scratch/pisf/personal-imap-spam-filter.py
Restart=always
SyslogIdentifier=pisf
StandardOutput=append:/var/log/pisf.log
StandardError=append:/var/log/pisf-error.log


[Install]
WantedBy=multi-user.target
